.toc {
    float: left;
    margin-right: 20px; /* 目录与文章内容之间的间距 */
    width: 250px; /* 自定义目录宽度 */
    position: sticky;
    top: 20px; /* 距离顶部的高度 */
}

/* 确保文章内容不会被目录覆盖 */
.post-content {
    margin-left: 280px; /* 留出目录的宽度 */
}


/**调整文章元数据信息**/
.post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-bottom: 1.0rem;
    font-size: 0.9rem;
    color: var(--secondary);
}
.post-meta-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.post-meta .icon {
    opacity: 0.6;
}

/* 隐藏语言切换 
.post-meta [href*="/en/"] {
    display: none !important;
}
.post-meta-item:has([href*="/en/"]) {
    display: none !important;
}


.post-meta [href*="/zh/"] {
    display: none !important;
}
.post-meta-item:has([href*="/zh/"]) {
    display: none !important;
}*/

.toc li::marker {
    content: none;
}