/* 目录*/
.toc {
    float: left;
    margin-right: 20px;   /* 目录与文章内容之间的间距 */
    width: 240px;         /* 自定义目录宽度 */
    position: sticky;
    top: 20px;            /* 距离顶部的高度 */
	font-size: 14px;      /* 字体大小 */
}

/* 文章内容更宽 */
.post-content {
    margin-left: 280px;    /* 留出与目录的间距 */
    max-width: none;       /* 移除默认的最大宽度限制 */
    width: 95%;            /* 设置文章内容宽度为容器宽度的90%，可根据需要调整 */
    margin-right: 5%;      /* 右边留出一定间距，避免贴边 */
}


/**调整文章元数据信息**/
.post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-bottom: 1.0rem;
    font-size: 0.9rem;
    color: var(--secondary);
}
.post-meta-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.post-meta .icon {
    opacity: 0.6;
}

/* 隐藏语言切换 
.post-meta [href*="/en/"] {
    display: none !important;
}
.post-meta-item:has([href*="/en/"]) {
    display: none !important;
}


.post-meta [href*="/zh/"] {
    display: none !important;
}
.post-meta-item:has([href*="/zh/"]) {
    display: none !important;
}*/

/* 去除目录前的markmod 符号(. o)*/
.toc li::marker {
    content: none;
}

/*适配移动小屏*/
@media screen and (max-width: 768px) {
    .toc {
        float: none;
        width: 100%;
        position: static;
    }
    .post-content {
        margin-left: 0;
        width: 100%;
        margin-right: 0;
    }
}

/*跳转上下篇文章*/
.next, .prev {
    font-size: 15px;
    margin: 10px;
}